<div ng-controller="QrResponseAreaCtrl">

    <form name="myForm">
        <spacer></spacer>
        <div ng-show="qrCodeEnabled">
            <button type="button"class="btn btn-primary" ng-click="scanQrCode()">Scan QR Code</button>
            <!--<h3>Scan a <a ng-click="scanQrCode()">QR Code or Bar Code.</a></h3>-->
            <p class="alert-success" ng-show="response">QR code successfully scanned.</p>
            <p><pre>{{response}}</pre></p>
        </div>
        <div ng-show="!qrCodeEnabled">
            <p class="alert-danger">QR codes not enabled. Is the tablet camera accessible?</p>
        </div>
        <spacer></spacer>
    </form>


</div>