<div ng-controller="LikertResponseAreaCtrl">
  <div class="row likert">
    <form name="LikertForm">
      <p class="top primary likert-label" ng-bind="page.dm.responseArea.centerLabelAbove" ng-show="!!(page.dm.responseArea.centerLabelAbove)"></p>
      <table>
        <tr>
          <td></td>
          <!--We want (Nlevels*2)+2 columns for layout purposes-->
          <td ng-repeat="level in levels track by $index"></td>
          <td ng-repeat="level in levels track by $index"></td>
          <td></td>
          <div ng-style="{{verticalSpacing}}"></div>
        </tr>

        <tr class="top likert-label" ng-show="topLabelsAreSpacious">
          <td ng-repeat="label in topLabels track by $index" colspan="4">
            {{label}}
          </td>
        </tr>
        <tr class="top likert-label" ng-show="!topLabelsAreSpacious">
          <td></td>
          <td ng-repeat="label in topLabels track by $index" colspan="2">
            {{label}}
          </td>
          <td></td>
          <div ng-style="{{verticalSpacing}}"></div>
        </tr>

        <tr>
          <td></td>
          <td  ng-repeat="level in levels track by $index" colspan="2">
            <a href="#" ng-click="choose()" ng-controller="LikertChoiceController" ng-show="level !== ''">
              <img ng-if="!page.dm.responseArea.useEmoticons" ng-src="{{btnSrc($index)}}" class="likert-button"/>
              <img ng-if="!!page.dm.responseArea.useEmoticons" ng-src="{{btnSrc($index)}}" width="80px" height="80px" ng-class={likertborder:chosen()} />
            </a>
            <!--<input type="radio" ng-model="$parent.selected" ng-value="level">-->
          </td>
          <td></td>
          <div ng-style="{{verticalSpacing}}"></div>
        </tr>

        <tr class="bot likert-label" ng-show="bottomLabelsAreSpacious">
          <td ng-repeat="label in bottomLabels track by $index" colspan="4">
            {{label}}
          </td>
        </tr>
        <tr class="bot likert-label" ng-show="!bottomLabelsAreSpacious">
          <td></td>
          <td ng-repeat="label in bottomLabels track by $index" colspan="2">
            {{label}}
          </td>
          <td></td>
          <div ng-style="{{verticalSpacing}}"></div>
        </tr>

      </table>

      <p class="bot primary likert-label" ng-bind="page.dm.responseArea.centerLabelBelow" ng-show="!!(page.dm.responseArea.centerLabelBelow)"></p>
    </form>
  </div>
</div>
