
<!-- Tasks ng-if="tasks.numOngoing() !== 0"-->
<div class="active-tasks-container" ng-if="tasks.numOngoing() !== 0">
  <div class="active-tasks-panel panel panel-default">
    <div class="panel-heading text-left"><strong>Active Tasks</strong></div>
    <div class="panel-body text-left">
      <div ng-repeat="(task, msg) in tasks.list" class="row">
        <div class="col-xs-12">{{msg}}</div>
      </div>
      <div class="row" ng-if="disk.downloadInProgress">
        <div class="col-xs-6">
          <button class="btn btn-default" ng-click="adminLogic.cancelDownload()">Cancel Download</button>
        </div>
      </div>
    </div>
  </div>
</div>
