<div ng-controller="ChaResponseAreaCtrl">

  <div ng-if="!cha.isBluetoothBuild()">
    <h3 translate>Error: This exam requires bluetooth</h3> <br>
    <h4 translate>This build of tabSINT does not support these features. Please contact an administrator.</h4>
  </div>

  <div ng-if="cha.isBluetoothBuild() && !(cha.state === 'connected')">
    <h3 translate>The CHA Wireless Headset is not connected </h3>
    <br><br>
    <h4 translate>Please try reconnecting, or hand the device to an administrator</h4>
    <br><br>

    <div ng-if="disk.plugins.cha.myCha">
      <button ng-if="cha.state === 'disconnected'" type="button" class="btn btn-default" ng-disabled="cha.state !== 'disconnected'"  ng-click="cha.tryReconnect()" translate>Try Reconnecting</button>
      <div ng-if="cha.state !== 'disconnected'">
        <h4 translate=""> Attempting to Reconnect</h4><br>
        <h4 ng-if="disk.debugMode"> {{'CHA State:' | translate}} {{cha.state}} </h4><br>
      </div>
    </div>
    <br><br>

  </div>



  <!--Cha Response Area State Machine-->
  <div ng-if="cha.state === 'connected'">
    <div ng-if="chaError">
      <p>{{errorMessage}}</p>
      <p translate>Please hand the device to an administrator</p>
    </div>

    <div ng-if="!chaError">
      <div ng-if="chaExams.state==='start'">
        <div ng-if="isAudiometryExam && page.dm.responseArea.hideExamProperties !== 'before'">
          <audiometryProperties/>
          <br>
        </div>
        <div  style="vertical-align: middle">
          <button type="button" class="button btn btn-default" ng-click="startExam(chaExams.examType, chaExams.examProperties)" translate>Begin Exam</button>
        </div>
        <br>
        <div ng-if="skippable || disk.debugMode" style="vertical-align: middle">
          <button type="button" class="button btn btn-default" ng-click="skipExam()" translate>Skip Exam</button>
        </div>

      </div>

      <div ng-if="chaExams.state === 'exam' || chaExams.state === 'results' || chaExams.state === 'repeat' || chaExams.state === 'repeatGroup' || chaExams.state === 'notes' || chaExams.state === 'measureingBackgroundNoise'">
        <div ng-if="isAudiometryExam"><audiometry-exam/></div>
        <div ng-if="chaExams.examType === 'ThreeDigit'"><three-digit-exam/></div>
        <div ng-if="chaExams.examType === 'MLD'"><mld-exam/></div>
        <div ng-if="chaExams.examType === 'HINT'"><hint-exam/></div>
        <div ng-if="chaExams.examType === 'ThirdOctaveBands'"><third-octave-bands-exam/></div>
        <div ng-if="chaExams.examType === 'ToneGeneration'"><tone-generation-exam/></div>
        <div ng-if="chaExams.examType === 'DPOAE'"><dpoae-exam/></div>
        <div ng-if="chaExams.examType === 'TAT'"><tat-exam/></div>
      </div>

    </div>
  </div>


</div>
