<div ng-controller="MultipleChoiceResponseAreaCtrl">
<!-- this respArea feedback was modified so it mimics the feedback functionality of the 3D respArea lines 7-14, HG 12/7/15 -->
  <span class="multi-choice-container">
    <div class="row" ng-repeat="choice in choices">
      <div ng-controller="BasicChoiceController" ng-style="{{spacing}}">
        <button type="button" ng-class="
                {
                  'btn btn-default btn-block':true,
                  'btn-default active' : (!gradeResponse && !showCorrect) && multichosen(choice),
                  'btn-disabled' : gradeResponse || showCorrect || buttonDisabled,
                  'btn-success' : (gradeResponse || showCorrect) && multichosen(choice) && isCorrect(choice.id),
                  'btn-danger' : (gradeResponse || showCorrect) && multichosen(choice) && !isCorrect(choice.id),
                  'btn-faded' : showCorrect && !multichosen(choice)|| buttonDisabled
                }
              "
      ng-bind="label" ng-click="choose()" name="{{label}}">
    </button>
      </div>
    </div>
      <div class="row" ng-if="enableOther && page.result.response === 'Other'">
        <span class="glyphicon glyphicon-arrow-right"></span>
        <input type="text" name="Other"
               ng-model="page.result.otherResponse"
               autofocus="true">
      <p style="margin-bottom: 200px"></p>
    </div>
  </span>

</div>
