

<br>

<results-warnings></results-warnings>

<uib-accordion close-others="false">

  <div uib-accordion-group class="panel panel-default" heading="{{'Completed Tests'|translate}}" is-open="true">
    <div class="panel-body text-left">
      <small> {{'Press a result in the table below to see more details'|translate}} </small>

      <br><br>

      <table  class="table fixed table-striped">
        <thead>
          <tr>
            <th class="row-Name">{{'Protocol'|translate}}</th>
            <th class="row-Counts">{{'# Pres.'|translate}}</th>
            <th class="row-Date results">{{'Started'|translate}}</th>
            <th class="row-Server results">{{'Server'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="r in disk.queuedResults track by $index" ng-click="viewResult($index)">
            <td class="row-Name">{{r.testResults.protocol.server === 'tabsintServer' ? r.testResults.protocol.siteName.substring(0,15) : r.testResults.protocol.name.substring(0,15)}}</td>
            <td class="row-Counts">{{r.nResponses}}</td>
            <td class="row-Date results"><small>{{r.testDateTime | date:'dd-M-yyyy H:mm:ss' }}</small></td>
            <td class="row-Server results">{{r.testResults.protocol.server}}</td>
          </tr>
        </tbody>
      </table>

      <div class="row pad-top">
        <div class="col-xs-4">
          <button type="button" ng-disabled="tasks.disabled" class="btn btn-success" ng-click="results.uploadAll()">
            <i class="ion-upload"></i> {{'Upload All'|translate}}
          </button>
        </div>
        <div class="col-xs-4">
          <button type="button" ng-disabled="disk.queuedResults.length === 0 || tasks.disabled" class="btn btn-primary btn-block" ng-click="results.export()">
            <span class="glyphicon glyphicon-floppy-disk"></span> {{'Export All'|translate}}
          </button>
        </div>
        <div class="col-xs-4">
          <button type="button" ng-if="disk.debugMode" ng-disabled="disk.queuedResults.length === 0 || tasks.disabled" class="btn btn-danger btn-block" ng-click="deleteAll()">
            <i class="ion-trash-a"/> {{'Delete All'|translate}}
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- Upload Summary -->
  <div uib-accordion-group class="panel panel-default" heading="{{'Recent Output'|translate}}" is-open="true">
    <div class="panel-body text-left">

      <table  class="table table-striped">
        <thead>
          <tr>
            <th>{{'Protocol'|translate}}</th>
            <th>{{'Started'|translate}}</th>
            <th>{{'Uploaded'|translate}}</th>
            <th>{{'Server'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="r in disk.uploadSummary">
            <td>{{r.protocolName.substring(0,15)}}</td>
            <td><small>{{r.testDateTime | date:'yyyy-M-dd H:mm:ss' }}</small></td>
            <td><small>{{r.uploadedOn | date:'yyyy-M-dd H:mm:ss' }}</small></td>
            <td>{{r.output}}</td>
          </tr>
        </tbody>
      </table>

      <small><i>{{'Only the last 30 output results are shown.'|translate}}</i></small>
    </div>
  </div>

</uib-accordion>
