


<!--Modal-->
<div class="modal-header">
  Bluetooth Devices
</div>

<div class="modal-body">
  <div ng-repeat="cha in chaList">
    <button type="button" ng-class="(chosen(cha))?'btn cha-selected' : 'btn cha-unselected'" ng-click="choose(cha)" ng-bind="cha.getName()">
      {{cha.getName()}}
    </button>
  </div>

</div>

<div class="modal-footer">
  <button type="button" ng-class="(!!(chosenCha))?'btn btn-primary':'btn btn-primary disabled custom-disabled'" ng-click="select(chosenCha)">Select</button>
  <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
