<div ng-controller="AudiometryTableCtrl">

  <div class="cha-results" ng-if="resultsList">
    <div >
      <table class="audiogram-table">
        <tr>
          <!-- <td>Type</td> -->
          <td><b>Ear</b></td>
          <td><b>Presentation</b></td>
          <td><b>Results</b></td>
        </tr>
        <tr ng-repeat="result in resultsList">
          <!-- <td>{{result.examType}}</td> -->
          <td>{{result.examProperties.OutputChannel === 'HPL0' ? 'left' : 'right'}}</td>
          <td>
            <div ng-if="result.examType === 'BekesyFrequency' || result.examType === 'HughsonWestlakeFrequency'">{{result.examProperties.Level}} {{result.examProperties.LevelUnits}}</div>
            <div ng-if="result.examType === 'BekesyLike' || result.examType === 'HughsonWestlake'">{{result.examProperties.F}} Hz</div>
          </td>
          <td style="">
            <div ng-if="!result.examProperties.Screener">{{result.Threshold}} {{result.Units}}</div>
            <div ng-if="result.examProperties.Screener">{{result.ResultType}}</div>
          </td>
        </tr>

      </table>
      <br>
    </div>
  </div>


</div>