
<div class="panel-body text-left">

  <!-- Cha State -->
  <div class="row pad-top">
    <div class="col-xs-4">State: </div>
    <div class="col-xs-8" ng-if="cha.state === 'connected'"><em>Connected</em></div>
    <div class="col-xs-8" ng-if="cha.state === 'disconnected'"><em>Not Connected</em></div>
    <div class="col-xs-8" ng-if="cha.state !== 'connected' && cha.state !== 'disconnected'"><em>Connecting</em></div>
  </div>

  <!-- Preferred Cha -->
  <div class="row pad-top" ng-if="disk.plugins.cha.myCha">
    <div class="col-xs-4">Preferred: </div>
    <div class="col-xs-4">{{disk.plugins.cha.myCha}}</div>
    <div class="col-xs-4">
      <button class="btn btn-default btn-block" ng-click="removeCha()">Remove</button>
    </div>
  </div>

  <!-- Bluetooth Message-->
  <div class="row pad-top" ng-if="!bluetoothStatus.state">
    <div class="col-xs-10 text-warning"><em>Bluetooth radio disabled</em></div>
  </div>


  <!-- Connection Buttons-->
  <div class="row pad-top" >
    <div class="col-xs-4" ng-switch="cha.state">
      <button ng-switch-default class="btn btn-primary btn-block disabled custom-disabled">Connect</button>
      <button ng-switch-when="disconnected" class="btn btn-primary btn-block" ng-disabled="!bluetoothStatus.state" ng-class="!bluetoothStatus.state ? 'disabled custom-disabled': ''" ng-click="cha.connect()">Connect</button>
    </div>
    <div class="col-xs-4" ng-switch="cha.state">
      <button ng-switch-default class="btn btn-primary btn-block disabled custom-disabled">Disconnect</button>
      <button ng-switch-when="connected" class="btn btn-primary btn-block" ng-click="cha.disconnect()">Disconnect</button>
      <button ng-switch-when="discovery" class="btn btn-primary btn-block disabled custom-disabled">Disconnect</button>
    </div>
    <div class="col-xs-4" ng-switch="cha.state">
      <button ng-switch-default class="btn btn-primary btn-block" ng-click="cha.cancelConnect()">Cancel</button>
      <button ng-switch-when="connected" class="btn btn-primary btn-block disabled custom-disabled">Cancel</button>
      <button ng-switch-when="disconnected" class="btn btn-primary btn-block disabled custom-disabled">Cancel</button>
    </div>
  </div>

  <!-- Audio Streaming -->
  <div class="row pad-top">
    <div class="col-xs-8">Audio Streaming:</div>
    <div class="col-xs-4">
      <button ng-if="cha.state !== 'connected' || !!chaExamInProgress || tasks.disabled || disk.disableAudioStreaming" class="btn btn-primary btn-block disabled custom-disabled">
        <span class="glyphicon glyphicon-headphones"></span> On
      </button>
      <button ng-if="cha.state === 'connected' && !chaExamInProgress && !cha.streaming  && !tasks.disabled && !disk.disableAudioStreaming" class="btn btn-primary btn-block" ng-click="chaExams.startTalkThrough()">
        <span class="glyphicon glyphicon-headphones"></span> On
      </button>
      <button ng-if="cha.state === 'connected' && !chaExamInProgress && cha.streaming" class="btn btn-primary btn-block" ng-click="chaExams.stopTalkThrough()">
        <span class="glyphicon glyphicon-remove"></span> Off
      </button>
    </div>
  </div>


  <!-- Connected Cha -->
  <div ng-if="cha.state === 'connected'">

    <hr>
    <cha-info></cha-info>

<!--Remove Reboot option for now, because it is not working. TODO: Fix reboot functionality or remove it altogether.      -->
    <!-- Reboot CHA -->
    <!--<div class="row pad-top" ng-if="!chaExamInProgress">-->
      <!--<div class="col-xs-4">Reboot:</div>-->
      <!--<div class="col-xs-4">-->
        <!--<button  ng-disabled="tasks.disabled" class="btn btn-primary btn-block"  ng-click="cha.reboot()">-->
          <!--<span class="glyphicon glyphicon-refresh"></span> Reboot-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->

  </div>

  <!-- Show Advanced -->
  <div class="row pad-top">
    <div class="col-xs-12"><a ng-click="panes.config.chaAdvanced = !panes.config.chaAdvanced">
        <div ng-if="panes.config.chaAdvanced">Hide Advanced Settings</div>
        <div ng-if="!panes.config.chaAdvanced">Show Advanced Settings</div></a></div>
  </div>

  <div ng-if="panes.config.chaAdvanced">

    <hr>

    <div class="row pad-top" >
      <div class="col-xs-12"><strong>Preferences</strong></div>
    </div>

    <!-- Bluetooth Choice -->
    <div class="row pad-top">
      <div class="col-xs-5"> Type: </div>
      <div class="col-xs-5">
        <span class="dropdown" uib-dropdown id="bluetooth-type-dropdown">
          <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
            {{bluetoothTypes[getBluetoothType()] || "None"}}<span class="caret" style="margin-left: 10px"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="(bluetoothID, bluetoothDisplay) in bluetoothTypes"><a href="#" ng-click="changeBluetoothType(bluetoothID)">{{bluetoothDisplay}}</a></li>
          </ul>
        </span>
      </div>
      <!-- <div class="col-xs-1"></div> -->
      <div class="col-xs-1" uib-popover-html="bluetoothTypePopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
    </div>

    <!-- Disable Audio Streaming -->
    <div class="row pad-top">
      <div class="col-xs-6" translate> Disable Audio Streaming: </div>
      <div class="col-xs-2"> <input type="checkbox" ng-model="disk.disableAudioStreaming"> </div>
      <div class="col-xs-2"> </div>
      <div class="col-xs-1" uib-popover-html="disableAudioStreamingPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
    </div>

    <hr>
    <div class="row pad-top" >
      <div class="col-xs-4"><strong>Firmware</strong></div>
    </div>

    <!-- TabSINT Firmware -->
    <div class="row pad-top" >
      <div class="col-xs-4">Firmware:</div>
      <div class="col-xs-6" ng-if="disk.plugins.cha.embeddedFirmwareBuildDate">{{disk.plugins.cha.embeddedFirmwareBuildDate}}</div>
      <div class="col-xs-6" ng-if="!disk.plugins.cha.embeddedFirmwareBuildDate"><i>None</i></div>
      <div class="col-xs-1" uib-popover-html="firmwarePopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
    </div>

    <div class="row pad-top" >
      <div class="col-xs-4">Tag:</div>
      <div class="col-xs-6" ng-if="disk.plugins.cha.embeddedFirmwareBuildDate">{{disk.plugins.cha.embeddedFirmwareTag}}</div>
      <div class="col-xs-6" ng-if="!disk.plugins.cha.embeddedFirmwareBuildDate"><i>None</i></div>
      <div class="col-xs-1" uib-popover-html="firmwarePopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
    </div>

    <!-- Update Firmware -->
    <div class="row pad-top" ng-if="cha.state === 'connected'">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <button ng-if="disk.plugins.cha.embeddedFirmwareBuildDate" class="btn btn-primary btn-block" ng-disabled="tasks.isOngoing(chaTasks.UPDATE_FIRMWARE)" ng-click="updateCHAFirmware()">Update</button>
      </div>
      <div class="col-xs-4">
        <button ng-if="tasks.isOngoing(chaTasks.UPDATE_FIRMWARE)" class="btn btn-primary btn-block"  ng-click="cha.cancelFirmwareUpdate()">Cancel </button>
      </div>
    </div>

    <!-- CHA Media -->
    <div ng-if="disk.appDeveloperMode">
      <div ng-if="devices.diskSpace < 200">
        <span class="glyphicon glyphicon-exclamation-sign warn-red"></span>
        The device has less than 200 MB of disk space left. Please make more disk space available before adding more media.
      </div>

      <div class="row pad-top" >
        <div class="col-xs-10"><b>Headset Media</b></div>
        <div class="col-xs-1" uib-popover-html="headsetMediaTablePopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
      </div>

      <table class="table fixed">
        <thead>
          <tr>
            <!-- <th class="row-Name">Host</th> -->
            <th class="row-Name">Group</th>
            <th class="row-Name">Name</th>
            <th class="row-Version">Version</th>
            <th class="row-Date">Date</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="m in disk.plugins.cha.mediaRepos track by $index" ng-class="chaMedia.mclass(m)" ng-click="chaMedia.select(m)">
            <!-- <td class="row-Name">{{m.host}}</td> -->
            <td class="row-Name">{{m.group}}</td>
            <td class="row-Name">{{m.name}}</td>
            <td class="row-Version">{{m.version}}</td>
            <td class="row-Date">{{m.date.replace('T', ' ').split('.')[0]}} </td>
          </tr>
        </tbody>
      </table>

      <div class="row pad-top">
        <div class="col-xs-4">
          <button ng-if="cha.fileOpState !== cha.fileOpStates.MEDIA_TRANSFER && !chaMedia.syncActive"
                  ng-disabled="!chaMedia.selected || cha.state !== 'connected' || tasks.disabled"
                  class="btn btn-primary btn-block"
                  ng-click="chaMedia.syncRepoToCha()"> <i class="ion-compose"/> Sync To Headset</button>
          <button ng-if="cha.fileOpState !== cha.fileOpStates.MEDIA_TRANSFER && chaMedia.syncActive"
                  class="btn btn-primary btn-block"
                  ng-click="chaMedia.cancelMediaSync()"> <i class="ion-compose"/> Cancel Sync</button>
          <button ng-if="cha.fileOpState === cha.fileOpStates.MEDIA_TRANSFER"
                  class="btn btn-primary btn-block"
                  ng-click="cha.cancelMediaTransfer()"> <i class="ion-compose"/> Cancel Transfer</button>
        </div>
        <div class="col-xs-4">
          <button ng-disabled="!chaMedia.selected || tasks.disabled || tasks.disabled" class="btn btn-success btn-block" ng-click="chaMedia.updateRepo()"><i class="ion-android-sync"/> Update</button>
        </div>
        <div class="col-xs-4">
          <button ng-disabled="!chaMedia.selected || tasks.disabled || tasks.disabled" class="btn btn-danger btn-block" ng-click="chaMedia.deleteRepo()"><i class="ion-trash-a"/> Delete </button>
        </div>
      </div>

      <div class="row pad-top" >
        <div class="col-xs-10"><b>Download Media from Gitlab</b></div>
        <div class="col-xs-1" uib-popover-html="headsetMediaDownloadPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
      </div>

      <!-- Repository -->
      <div class="row pad-top">
        <div class="col-xs-3">Repository:</div>
        <div class="col-xs-6"><input type="text" class="form-control" placeholder="Name" ng-model="chaMedia.model.name"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1" uib-popover-html="gitlabAddMediaPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
      </div>

      <div class="row pad-top">
        <div class="col-xs-3">Version:</div>
        <div class="col-xs-6"><input type="text" class="form-control" placeholder="Latest" ng-model="chaMedia.model.version"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1" uib-popover-html="gitlabAddMediaVersionPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
      </div>

      <!-- Add -->
      <div class="row pad-top">
        <div class="col-xs-3"></div>
        <div class="col-xs-5">
          <button class="btn btn-default btn-block" ng-disabled="!chaMedia.model.name" ng-click="chaMedia.addRepo()"><i class="ion-plus"></i> Add</button>
        </div>
      </div>

      <div class="row pad-top" ng-if="disk.appDeveloperMode">
        <div class="col-xs-8">Use Creare Repository:</div>
        <div class="col-xs-2"><input type="checkbox" ng-model="chaMedia.isAdmin"></div>
        <div class="col-xs-1" uib-popover-html="addCreareMediaRepoPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
      </div>

    </div>

    <!-- Simulate Responses -->
    <div class="row pad-top" ng-if="disk.appDeveloperMode">
      <div class="col-xs-6">Simulate Responses:</div>
      <div class="col-xs-2"><input type="checkbox" ng-model="cha.simulateResponses"></div>
    </div>

    <hr>

    <div class="row pad-top" >
      <div class="col-xs-4"><b>Test</b></div>
    </div>

    <div class="row pad-top">
      <div class="col-xs-12">Fit Tones</div>
    </div>

    <!-- Fit Tones -->
    <div class="row pad-top">
      <div class="col-xs-4">
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && !tasks.disabled" class="btn btn-primary btn-block" ng-click="startExam('ToneGeneration',{F:8000,ToneDuration:1000000,OutputChannel:'HPL0'})">
          <span class="glyphicon glyphicon-play-circle"></span> Left
        </button>
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress || tasks.disabled" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-play-circle"></span> Left
        </button>
      </div>
      <div class="col-xs-4">
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && !tasks.disabled" class="btn btn-primary btn-block" ng-click="startExam('ToneGeneration',{F:8000,ToneDuration:1000000,OutputChannel:'HPR0'})">
          <span class="glyphicon glyphicon-play-circle"></span> Right
        </button>
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress || tasks.disabled" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-play-circle"></span> Right
        </button>
      </div>
      <div class="col-xs-4">
        <button ng-if="!!chaExamInProgress" class="btn btn-primary btn-block" ng-click="stopExam()">
          <span class="glyphicon glyphicon-remove"></span> Stop
        </button>
        <button ng-if="!chaExamInProgress" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-remove"></span> Stop
        </button>
      </div>
    </div>

    <!-- Audio Streaming -->
    <div class="row pad-top">
      <div class="col-xs-6">Audio Streaming</div>
    </div>

    <!-- Streaming Test -->
    <div class="row pad-top">
      <div class="col-xs-4">
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress || !cha.streaming" class="btn btn-primary btn-block disabled custom-disabled">
          Phrase
        </button>
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && cha.streaming" class="btn btn-primary btn-block" ng-click="play1kHzTone()">
          Phrase
        </button>
      </div>
      <div class="col-xs-4">
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress || !cha.streaming" class="btn btn-primary btn-block disabled custom-disabled">
          CompAudio
        </button>
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && cha.streaming" class="btn btn-primary btn-block" ng-click="playCompAudio()">
          CompAudio
        </button>
      </div>
      <div class="col-xs-4">
        <button ng-if="cha.state === 'connected' && cha.streaming" class="btn btn-primary btn-block" ng-click="stopAudio()">Stop</button>
      </div>
    </div>

    <!-- Play Cha Wav Test -->
    <div class="row pad-top">
      <div class="col-xs-12">Play Wav Files on WAHTS</div>
    </div>

    <div class="row pad-top">
      <div class="col-xs-8">
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && !tasks.disabled" class="btn btn-primary btn-block" ng-click="chaExams.playSound()">
          <span class="glyphicon glyphicon-play-circle"></span> Test Sounds
        </button>
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress || tasks.disabled" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-play-circle"></span> Test Sounds
        </button>
      </div>
    </div>

    <!-- Background Noise -->
    <div class="row pad-top" ng-if="disk.appDeveloperMode">
      <div class="col-xs-12">Background Noise</div>
    </div>

    <div class="row pad-top" ng-if="disk.appDeveloperMode">
      <div class="col-xs-4">
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && !tasks.disabled" class="btn btn-primary btn-block" ng-click="noiseOn()">
          <span class="glyphicon glyphicon-play-circle"></span>On
        </button>
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress || tasks.disabled" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-play-circle"></span>On
        </button>
      </div>
      <div class="col-xs-4">
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && !tasks.disabled" class="btn btn-primary btn-block" ng-click="noiseOff()">
          <span class="glyphicon glyphicon-play-circle"></span>Off
        </button>
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress || tasks.disabled" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-play-circle"></span>Off
        </button>
      </div>
    </div>

    <div class="row pad-top" ng-if="disk.appDeveloperMode">
      <div class="col-xs-4">Noise Type:</div>
      <div class="col-xs-4">
        <span class="dropdown" uib-dropdown id="noise-type-dropdown">
          <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
            {{noise.type}}<span class="caret" style="margin-left: 10px"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="noiseType in noise.typeList"><a href="#" ng-click="changeNoiseType(noiseType)">{{noiseType}}</a></li>
          </ul>
        </span>
      </div>
    </div>

    <div class="row pad-top" ng-if="disk.appDeveloperMode">
      <div class="col-xs-4">Noise Level:</div>
      <div class="col-xs-4">
        <input type="number" class="form-control" placeholder="" ng-model="noise.level">
      </div>
    </div>

    <div class="row pad-top" ng-if="disk.appDeveloperMode">
      <div class="col-xs-4">SRINT:</div>
      <div class="col-xs-4">
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && !srint.enabled && !tasks.disabled" class="btn btn-primary btn-block" ng-click="playSRINT()">
          <span class="glyphicon glyphicon-play-circle"></span> Play All
        </button>
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress || tasks.disabled" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-play-circle"></span> Play All
        </button>
      </div>
      <div class="col-xs-4">
        <button ng-if="cha.state === 'connected' && !chaExamInProgress && srint.enabled" class="btn btn-primary btn-block" ng-click="stopSRINT()">
          <span class="glyphicon glyphicon-play-circle"></span> Stop
        </button>
        <button ng-if="cha.state !== 'connected' || !!chaExamInProgress" class="btn btn-primary btn-block disabled custom-disabled">
          <span class="glyphicon glyphicon-play-circle"></span> Stop
        </button>
      </div>
    </div>

    <div class="row pad-top" ng-if="disk.appDeveloperMode">
      <div class="col-xs-4">SRINT Level:</div>
      <div class="col-xs-4">
        <input type="number" class="form-control" placeholder="" ng-model="srint.level">
      </div>
    </div>
  </div>
</div>
