<div class="questionbox welcome-page">

  <div class="spacer"></div>

  <h1 class="welcome welcome-title " translate>TabSINT</h1>

  <div class="spacer"></div>

  <img src="img/logo.png" style="max-width: 30%">

  <div class="spacer"></div>

  <div class="container">

    <!-- <hr class="welcome"> -->
    <div class="row welcome-row" ng-click="switchToExamView()">
      <div class="col-xs-3"></div>
      <div class="col-xs-1">
        <h3 class="welcome"><i class="ion-edit"></i></h3>
      </div>
      <div class="col-xs-6 text-left">
        <h3 class="welcome" translate>Exam View</h3>
      </div>
    </div>

    <div class="row welcome-row" ng-click="switchToAdminView()">
      <div class="col-xs-3"></div>
      <div class="col-xs-1">
        <h3 class="welcome"><i class="ion-ios-gear"></i></h3>
      </div>
      <div class="col-xs-6 text-left">
        <h3 class="welcome" translate>Admin View</h3>
      </div>
    </div>


    <div class="row welcome-row" ng-click="router.goto('DOCS')">
      <div class="col-xs-3"></div>
      <div class="col-xs-1">
        <h3 class="welcome"><i class="ion-help-buoy"></i></h3>
      </div>
      <div class="col-xs-6 text-left">
        <h3 class="welcome" translate>Documentation</h3>
      </div>
    </div>

    
    <build-details/>
  </div>

</div>
