<!--
* Author: Brendan Flynn
* Date: 22 October, 2015
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->
<div>

  <div class="omt">
    <table style="width:100%; margin-bottom:20px;">
      <tbody>
        <tr style="height:50px">
          <td style="width:150px">
            <table>
              <tbody>
              <tr>
                <th style="text-align:center">Frequency</th>
                <th></th>
                <th style="text-align:center">Threshold</th>
              </tr>
              <tr ng-repeat="item in chaExams.storage.manualAudiometry.list[data.channel] track by $index">
                <td style="padding-top: 15px;">
                  <button style="width:80px" ng-class="frequencyButtonClass($index)" ng-click="chooseFrequency($index)">{{item.F}}</button>
                </td>
                <td></td>
                <td ng-if="data.responseType === 'threshold'" style="width:60px; text-align:center">{{item.Threshold}}</td>
                <td ng-if="data.responseType === 'pass-fail'" style="width:60px; text-align:center">
                  <span ng-if="item.Threshold === 'P'" style="color:rgb(0,225,0)">{{item.Threshold}}</span>
                  <span ng-if="item.Threshold === 'F'" style="color:rgb(225,0,0)">{{item.Threshold}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
          <td style="vertical-align:top;">
            <table style="text-align: center;">
              <tbody>
                <tr>
                  <td></td>
                  <td style="height:50px">
                    <button class="btn btn-default" style="width:170px; height:40px;" ng-disabled="btnState === 1" ng-click="switchEar()">Switch Ear</button>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top; height: 200px;">
                    <table style="text-align:center">
                      <tbody>
                      <tr>
                        <td>
                          <button class="btn btn-default" style="width:100px; height:40px;" ng-disabled="btnState === 1 || data.currentLevel >= data.maxLevel" ng-click="increase(5)">+ 5                                <span class="glyphicon glyphicon-arrow-up"></span>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size:22px; font-weight: 700; text-align: center;">
                          Level<br />
                          {{data.currentLevel}} {{data.levelUnits}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <button class="btn btn-default" style="width:100px; height:40px;" ng-disabled="btnState === 1 || data.currentLevel <= data.minLevel" ng-click="decrease(10)">- 10                                <span class="glyphicon glyphicon-arrow-down"></span>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td style="vertical-align:top; height: 200px;">
                    <button ng-class="playTonesButtonClass()" style="width:170px; height:170px;" ng-click="toggleToneButton()">
                      {{btnText[btnState]}}<br /><br />
                      Chan: {{data.channel}}<br />
                      Freq: {{data.currentFrequency}} Hz
                    </button>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top" colspan="2" ng-if="data.responseType === 'threshold'">
                    <button class="btn btn-default" style="width:80%; height:40px;" ng-click="setThreshold()">Threshold Found
                    </button>
                  </td>
                  <td colspan="2" ng-if="data.responseType === 'pass-fail'">
                    <button class="btn btn-default btn-success" style="width:40%; height:40px;" ng-click="setPass()">Pass
                    </button>
                    <button class="btn btn-default btn-danger" style="width:40%; height:40px;" ng-click="setFail()">Fail
                    </button>
                  </td>
                </tr>
                <tr style="height:320px">
                  <td colspan="2" style="height:320px">
                    <level-progression ng-if="showLevelProgression" data="levelProgressionData"></level-progression>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>

        </tr>
      </tbody>
    </table>

  </div>


</div>
