<div ng-controller="OmtResponseAreaCtrl">
  <p>{{sentence}}</p> <!-- Optionally set this to specific text. -->

  <div class="omt">
    <table>
      <tr>
        <th ng-repeat="label in columnLabels track by $index">{{label}}</th>
      </tr>
      <tr ng-repeat="row in rows">
        <td ng-repeat="word in row track by $index" ng-style="{'background-color':($index % 2)?'rgb(235,255,235)':'rgb(235,235,255)'}">
          <button type="button"
              ng-class="
                {
                  'btn btn-default btn-block':true,
                  'btn-default active' : (!gradeResponse && !showCorrect) && omtchosen($index,word),
                  'btn-disabled' : gradeResponse || showCorrect,
                  'btn-success' : (gradeResponse || showCorrect) && omtchosen($index,word) && isCorrect($index,word),
                  'btn-danger' : (gradeResponse || showCorrect) && omtchosen($index,word) && !isCorrect($index,word),
                  'btn-faded' : showCorrect && !isCorrect($index,word) && !omtchosen($index,word)
                }
              "
              ng-click="omtchoose($index,word)"
              >{{word}}</button>
        </td>
      </tr>
    </table>
  </div>
