<div ng-controller="CustomJs2">



  <h3> We're in the second consecutive custom Html! </h3>
  <h4>{{test}}</h4>
  <h4>The result of this question is: {{result}}</h4>
  <!--<h4>The result of the previous question is: {{result}}</h4>-->

</div>