<div ng-controller="ImageMapResponseAreaCtrl">
  <div class="multimedia" ng-if="page.dm.responseArea.image" ng-style="{width:page.dm.responseArea.image.width}">

    <img ng-src="{{page.dm.responseArea.image.path}}" alt="cows" class="img-responsive img-rounded" usemap="#hotspotMap" coord-translate/>

    <map name="hotspotMap" >
        <area ng-repeat="hotspot in hotspots" shape="{{hotspot.shape}}" coords="{{hotspot.coordinates}}" ng-click="choose(hotspot.id)">
    </map>
  </div>
  <div class="row" ng-show="enableOtherText" id="otherInput">
    <span class="glyphicon glyphicon-arrow-right"></span>
    <input type="text" name="Other"
           ng-model="page.result.otherResponse"
           autofocus="true">
    <p style="margin-bottom: 200px"></p>
  </div>
</div>
