

<!--Exam Page-->
  <div ng-if="chaExams.state === 'exam'">

    <!-- Show audiometry properties while testing -->
    <div ng-if="page.dm.responseArea.hideExamProperties !== 'during'">
      <audiometry-properties></audiometry-properties>
    </div>

    <software-button></software-button>

    <br><br>

    <a ng-if="page.dm.responseArea.pause" ng-click="pauseAudiometryExam()">
      {{'Pause and reset this question' | translate}}
    </a>
  </div>


  <div ng-if="chaExams.state === 'repeat'">
    {{'Unfortunately the last test was not successful.  Please try again and listen carefully.' | translate }}

    <button class="btn btn-default" ng-click="repeatChaExam()" translate>Repeat Exam</button>
    <button class="btn btn-default" ng-if="skipOption" ng-click="skipExam()" translate>Skip</button>
  </div>

  <div ng-if="chaExams.state === 'repeatGroup'">
    <button class="btn btn-default" ng-click="act.submit()" translate>Repeat Exam(s)</button>
    <button class="btn btn-default" ng-if="skipOption" ng-click="skipExam()" translate>Skip</button>
  </div>

  <div ng-if="chaExams.state === 'notes'">
    <textarea ng-model="page.result.notes" rows="6" autofocus="true" maxlength="250"></textarea>
  </div>

<!--Results page-->
  <div ng-if="chaExams.state === 'results'" class="cha-results">

    <div ng-if="result.ResultTypeCode !== 0">
      {{'Test Unsuccessful:' | translate}} {{result.ResultType}}
    </div>

    <div ng-if="result.ResultTypeCode === 0">
      <div ng-if="result.examType === 'BHAFT'">
        <div>{{'Frequency:' | translate}} {{result.ThresholdFrequency | number:0}} Hz</div>
        <div>{{'Threshold:' | translate}} {{result.Threshold | number:0}} dB SPL</div>
      </div>
      <div ng-if="result.examType !== 'BHAFT'">
        {{'Threshold:' | translate}} {{result.Threshold.toString().split('.')[0]}} {{result.Units}}
      </div>
    </div>

    <div ng-if="showLevelProgression">
      <level-progression data="levelProgressionData"></level-progression>
      <br>
    </div>
    <div ng-if="showAudiogram">
      <audiogram-plot data="audiogramData"></audiogram-plot>
    </div>



  </div>
