
<div ng-if="chaExams.state === 'exam'">

  <div style="text-align: center; vertical-align: middle">
    Measuring background noise.
  </div>
</div>
<div ng-if="chaExams.state === 'results'" class="cha-results">


  <third-octave-band-plot data="thirdOctaveBandData"></third-octave-band-plot>

  <div  style="vertical-align: middle">
    <button type="button" class="button btn btn-default" ng-click="repeatChaExam()">Repeat background noise measurement</button>
  </div>



  <div ng-if="dataError">
    Test Failed: {{dataError}}
  </div>

</div>

