<div ng-controller="MultipleInputResponseAreaCtrl">


  <div class="row" ng-repeat="(itemIdx, item) in list" style="padding-bottom: {{page.dm.responseArea.verticalSpacing}}px">
    <div class="col-xs-6" style="text-align: {{page.dm.responseArea.textAlign}}">
     &nbsp{{item.text}}&nbsp
    </div>
    <div class="col-xs-6">

      <!-- text -->
      <textarea ng-if="item.inputType === 'text'" rows="{{item.rows}}" maxlength="250" ng-model="page.result.response[itemIdx]" ></textarea>

      <!-- dropdown -->
      <div class="dropdown" uib-dropdown ng-if="item.inputType === 'dropdown'">
        <!-- button when the dropdown is closed -->
        <button type="button" class="btn btn-default btn-block dropdown-toggle" uib-dropdown-toggle>
          {{page.result.response[itemIdx] || "Select"}} <span class="caret" style="margin-left: 0%"></span>
        </button>

        <!-- list elements when open -->
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li ng-repeat="option in item.options"><a href="#" ng-click="selectResponse(itemIdx, option)">{{option}}</a></li>
        </ul>
      </div>

      <!-- number -->
      <input ng-if="item.inputType === 'number'" type="number" step="0.01" ng-model="page.result.response[itemIdx]" style="max-width:75%">

    </div>
  </div>


</div>