<div ng-controller="ExternalAppResponseAreaCtrl">

    <div>
      Communicating with external app {{externalApp.name}}
    </div>
    <div>
      Data sent: {{externalApp.dataOut}}
    </div>
    <div>
      Data received: {{externalApp.dataIn}}
    </div>

</div>
