
<!-- DEACTIVATED RIGHT NOW -->
<div class="panel-body" ng-if="false">
  <div class="row" ng-if="disk.queuedResults.length > 0">
    <span class="glyphicon glyphicon-exclamation-sign warn-darkorange" ng-show="!!(disk.queuedResults.length < results.dm.queuedResultsWarnLength)"></span>
    <span class="glyphicon glyphicon-exclamation-sign warn-red" ng-show="!!(disk.queuedResults.length >= results.dm.queuedResultsWarnLength)"></span>
    <span ng-show="!!(disk.queuedResults.length < 2)">{{disk.queuedResults.length}} result is saved locally but have not been uploaded - upload now or turn on auto-upload.</span>
    <span ng-show="!!(disk.queuedResults.length > 1)">{{disk.queuedResults.length}} results are saved locally but have not been uploaded - upload now or turn on auto-upload.</span>
  </div>
  <div class="row" ng-if="results.checkStoredResults()">
    <span class="glyphicon glyphicon-exclamation-sign warn-red"></span>
    One or more locally stored exams are old and should be uploaded or deleted
  </div>
</div>
