<!--
* Author: Brendan Flynn
* Date: 13 October, 2015
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->
<div>

  <div>
    <p>Presentation {{presentationCount+1}} / {{chaExams.examProperties.NumberOfPresentations}}</p>
  </div>
  <div class="omt">
    <table style="width:100%; margin-bottom:100px">
      <tr>
        <td ng-repeat="word in props.listOfWords.slice(0,5) track by $index">
          <button type="button" ng-bind="word"
                  ng-class="{
                              'btn btn-default btn-block':true,
                              'btn-default active' : hintChosen($index)
                              }"
                  ng-disabled="wordsDisabled" ng-click="toggleWord($index)">{{word}}</button>
        </td>
      </tr>
      <tr><td></td></tr>
      <tr ng-if="props.listOfWords.length > 5">
        <td ng-repeat="word in props.listOfWords.slice(5) track by $index">
          <button type="button" ng-bind="word"
                  ng-class="{
                              'btn btn-default btn-block':true,
                              'btn-default active' : hintChosen(5+$index)
                              }"
                  ng-disabled="wordsDisabled" ng-click="toggleWord(5+$index)">{{word}}</button>
        </td>
      </tr>

    </table>
  </div>
  <div class="omt">
    <table style="width:100%; margin-bottom:50px">
      <tr>
        <td style="text-align:center"><button type="button" class="btn btn-default btn-block" ng-click="selectAllWords()">Select All</button></td>
        <td style="text-align:center"><button type="button" class="btn btn-default btn-block" ng-click="clearSelection()">Clear All</button></td>
      </tr>

    </table>
  </div>


</div>
