
<div ng-if="srintState === 'exam'">
  <h3 ng-show="disk.appDeveloperMode">Demo Hint: Current Sound = {{currentPresentation.soundClass}}</h3>
  <!-- Remove the Demo Hint Once The Response Area is No Longer Under Development -->
  <div ng-repeat="c in categories track by $index">
    <table style="text-align: center; width:100%; padding: 7px;">
      <col width="200">
      <col>{{c.name}}
      <col width="200">
      <tr>
        <td style="border-style: solid; border-width: 1px;" ng-click="selectSoundClass(c.name, c.soundClasses[0].name)">
          <div>{{c.soundClasses[0].name}}</div>
          <img ng-src="{{c.soundClasses[0].imgPath}}" width="40px" height="40px"/>
        </td>
        <td></td>
        <td style="border-style: solid;  border-width: 1px;" ng-click="selectSoundClass(c.name, c.soundClasses[1].name)">
          <div>{{c.soundClasses[1].name}}</div>
          <img ng-src="{{c.soundClasses[1].imgPath}}" width="40px" height="40px"/>
        </td>
      </tr>
    </table>
  </div>

  <div ng-if="!(trainingMode || hideButtonPressTimer)" style="text-align: left">Seconds to button press: {{timeCounter | number:1}}</div>
  <div ng-if="!(trainingMode || hidePointsTotalAndGoal) && pointsGoal" style="text-align: left">Number of points: {{chaExams.storage.soundRecognition.points}} out of {{pointsGoal}}</div>
  <div ng-if="pause">
    <button class="btn btn-default" ng-click="pauseExam('User Pressed Pause Button')">Pause Test</button>
  </div>
</div>
<div ng-if="srintState === 'pause'">
  <div ng-bind-html="trustAsHtml(noResponseMessage)" ng-if="pauseTrigger === 'noResponse' && noResponseMessage"></div>
  <div ng-bind-html="trustAsHtml(incorrectMessageInitial)" ng-if="pauseTrigger === 'incorrectResponseInitial' && incorrectMessageInitial"></div>
  <div ng-bind-html="trustAsHtml(incorrectMessageRepeat)" ng-if="pauseTrigger === 'incorrectResponseRepeat' && incorrectMessageRepeat"></div>
  <br><br>
  The test is paused.  Press 'RESUME' to continue the test with your current progress.  Press 'RESTART' to clear progress and start over.
  <div class="row">
    <div class="col-xs-4"><button class="btn btn-default" ng-click="resumeExam()">RESUME</button></div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4"><button class="btn btn-default" ng-click="restartExam()">RESTART</button></div>
  </div>

</div>
