<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->
<div ng-if="disk.debugMode" class="debug-view">

  <button type="button" class="btn btn-xs btn-link" ng-click="isCollapsed = !isCollapsed">
    <h4>
      <small>{{'Show Debug Info'|translate}}</small>
    </h4>
  </button>
  <div uib-collapse="isCollapsed" class="small text-left text-muted">

    <div class="well">
      
      <b>Page</b>
      <json-formatter json="page.dm" open="0"></json-formatter>
      
      <b>Page Result</b>
      <json-formatter json="page.result" open="0"></json-formatter>

      <b>Exam Results</b>
      <json-formatter json="results.current" open="0"></json-formatter>

      <b>Flags</b>
      <json-formatter json="dm.state.flags" open="0"></json-formatter>

      <b>Progress</b>: {{dm.state.progress.pctProgress}}

    </div>

  </div>
</div>
