
<div ng-if="chaExams.state === 'exam'">

<!--  <div style="text-align: center; vertical-align: middle">
    Measuring DPOAE.
  </div>-->
</div>
<div ng-if="chaExams.state === 'results'" class="cha-results">

  <dpoae-plot data="dpoaeData"></dpoae-plot>

  <div ng-if="dataError">
    Test Failed: {{dataError}}
  </div>

</div>

