
<!-- Admin Mode View -->

<header>{{'Admin View'|translate}}</header>

<!-- Body -->
<div class="has-header admin">

  <div class="questionbox admin-page">

    <uib-tabset active="active">
      <uib-tab index="0" heading="{{'Setup'|translate}}"><config-view></config-view></uib-tab>
      <uib-tab index="1" heading="{{'Protocols'|translate}}"><protocols-view></protocols-view></uib-tab>
      <uib-tab index="2" heading="{{'Results'|translate}}"><results-view></results-view></uib-tab>
      <uib-tab index="3" heading="{{'Exam View'|translate}}" ng-click="act.switchToExamView()"></uib-tab>
    </uib-tabset>

    <!-- add space for keyboard -->
    <div class="keyboard-spacer" ng-style="admin.keyboardStyle"></div>
  </div>
</div>

<!-- Active Task Footer -->
<active-tasks></active-tasks>

