<div ng-controller="CrmResponseAreaCtrl">
  <div>
    <table class="crm-table">
      <tr ng-repeat="number in n">
        <td ng-repeat="btncolor in color" ng-style="{{spacing}}">
          <button type="button" ng-style="btnStyle[btncolor]" ng-click="crmchoose(btncolor, number)"
                  class="btn btn-default btn-crm" ng-bind="btncolor + space + number"></button>
        </td>
      </tr>
    </table>
  </div>
</div>