
<div ng-controller="TextboxResponseAreaCtrl">
  <!--<input type="text" ng-model="page.result.response" autofocus="true">-->
  <textarea ng-model="page.result.response" rows="{{rows}}" autofocus="true" maxlength="250"></textarea>
</div>
