<!--
* Author: Brendan Flynn
* Date: 09 March, 2016
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->

<div ng-controller="ChaComplexResponseAreaCtrl">

  <div ng-if="!cha.isBluetoothBuild()">
    <h3>Error: This exam requires bluetooth</h3> <br>
    <h4>This build of tabSINT does not support these features. Please contact an administrator.</h4>
  </div>

  <div ng-if="cha.isBluetoothBuild() && !(cha.state === 'connected')">
    <h3>The CHA Wireless Headset is not connected </h3>
    <br><br>
    <h4>Please try reconnecting, or hand the device to an administrator</h4>
    <br><br>

    <div ng-if="disk.plugins.cha.myCha">
      <button ng-if="cha.state === 'disconnected'" type="button" class="btn btn-default" ng-disabled="cha.state !== 'disconnected'"  ng-click="cha.tryReconnect()">Try Reconnecting</button>
      <div ng-if="cha.state !== 'disconnected'">
        <h4> Attempting to Reconnect</h4><br>
        <h4 ng-if="disk.debugMode"> Cha State: {{cha.state}} </h4><br>
      </div>
    </div>
    <br><br>

  </div>

  <div ng-if="cha.state === 'connected'">
    <div ng-if="chaError">
      <p>{{errorMessage}}</p>
      <p>Please hand the device to an administrator</p>
    </div>

    <div ng-if="!chaError">
      <div ng-if="chaExams.complexExamType === 'ManualAudiometry'"><manual-audiometry-exam/></div>
      <div ng-if="chaExams.complexExamType === 'ManualToneGeneration'"><manual-tone-generation-exam/></div>
      <div ng-if="chaExams.complexExamType === 'AudiometryList'"><audiometry-list/></div>
      <div ng-if="chaExams.complexExamType === 'SoundRecognition'"><sound-recognition-exam/></div>
    </div>
  </div>
</div>
