<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->


<!-- Title block -->
<h1 ng-bind-html="trustAsHtml(page.dm.questionMainText)" ng-if="page.dm.questionMainText"
    ng-class="{medium: ((page.dm.questionMainText.length >= 38) && (page.dm.questionMainText.length < 48)), long: (page.dm.questionMainText.length > 42)}"></h1>
<p ng-bind-html="trustAsHtml(page.dm.questionSubText)" ng-if="page.dm.questionSubText"></p>
<p ng-bind-html="trustAsHtml(page.dm.instructionText)" class="instructions" ng-if="page.dm.instructionText"></p>


<!-- Images -->
<div class="multimedia" ng-if="page.dm.image" ng-style="{width:page.dm.image.width}">
    <img ng-src="{{page.dm.image.path}}" class="img-responsive img-rounded">
</div>


<!-- Videos -->
<div class="multimedia" ng-if="page.dm.video" ng-style="{width:page.dm.video.width}">
  <row ng-if="page.dm.video.autoplay">
    <video id="video1" ng-src="{{page.dm.video.path}}" class="video-responsive video-rounded"  preload="page.dm.video.autoplay" controls/>
  </row>
  <row ng-if="!page.dm.video.autoplay">
    <video id="video1" ng-src="{{page.dm.video.path}}" class="video-responsive video-rounded"  controls/>
  </row>
</div>

<br>

<!-- Response area content -->
<div ng-if="page.dm.responseArea" ng-controller="ResponseAreaCtrl as ra">
    <div ng-repeat="(type, spec) in ra.responseAreas">
        <response-area ng-if="type === page.dm.responseArea.type" ng-include="spec.templateUrl"></response-area>
    </div>
</div>